body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}

h1 {
    text-align: center;
    color: #28a745;

}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Adicionado para posicionamento relativo */
}
header img {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    position: absolute;
    left: 20px; /* Posição à esquerda */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
}
header nav {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os botões */
    padding: 5px; /* Padding para o espaço ao redor dos botões */
}
header nav button {
    background: none;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: opacity 0.3s ease;
}
header nav button:hover {
    opacity: 0.7;
}
main {
    text-align: center; /* Centraliza o conteúdo do main */
    padding: 100px 20px; /* Espaçamento interno para o título e botões */
}
h1 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}
.subtitle {
    color: #666; /* Cor cinza para o subtítulo */
}
.buttonGrande-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os botões */
    margin-top: 35px; /* Espaçamento superior */
}
.buttonGrande {
    width: 200px;
    height: 100px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.dados {
    width: 300px;
    margin: 0 auto; /* Adiciona margem automática para centralizar */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.gender-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.gender-container label {
    margin-right: 10px;
}
.gender-container input[type="radio"] {
    display: none;
}
.gender-container input[type="radio"] + label {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.gender-container input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.button {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.button:hover {
    background-color: #218838;
}

.button-container {
    display: flex;
    justify-content: space-around; /* Ou 'space-between' para espaçamento máximo entre os botões */
    margin-top: 10px; /* Ajuste conforme necessário */
}

table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
th,
td {
    padding: 8px;
    border: 1px solid black;
}

th {
  text-align: center;
  background-color: #218838;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
tr {
  text-align: left;
}

td i {
  color: #218838;
  display: flex;
  align-items: center;
  justify-content: center;
}

td :hover{
  color: red;
}

a {
  text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  .divDados {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #218838;
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .divDados img {
    width: 100px;
    height: 100px;
  }